<!--Instruction page-->
<div class="container text-md-left white-text">
    <p class="container__para"> 1.The game is played on a grid in a "Play" tab.<br> 2.Two players are represented by the avators.<br>3.Player X have "Aqua" colour avator and Player O it's "Peach". <br> 4.Players takes turns putting their marks in empty squares.<br> 5.The first player
        to get 3 of the row (up, down, across, or diagonally) is the winner.<br> 6.When all 9 squares are full, the game is over.<br> 7.If no player has 3 marks in a row, the game ends in a tie.</p>
</div>
