    .paragraph {
        display: grid;
        width: 100%;
        justify-content: center;
        padding-top: 200px;
        padding-left: 200px;
        color: white;
        text-align: justify;
        height: 100px;
        letter-spacing: 3px;
        grid-gap: 0px;
    }