<!--Navigation bar- Material Design boostrap-->
<header>
    <div class="container">
        <mdb-navbar class="navigation" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

            <a class="navigation__logo navbar-brand waves-light" mdbWavesEffect routerLink="/home"><strong>Home</strong><span class="sr-only">(current)</span></a>
            <links>
                <ul class="navigation__list  navbar-nav mr-auto">
                    <li class="navigation__list-item nav-item waves-light" mdbWavesEffect>
                        <a class="navigation__link  nav-link" routerLink="/play">Play</a>
                    </li>
                    <li class="navigation__list-item  nav-item  waves-light" mdbWavesEffect>
                        <a class="navigation__link  nav-link" routerLink="/instruction">Instruction</a>
                    </li>
                </ul>
            </links>

        </mdb-navbar>
    </div>

    <body>
        <div class="view"></div>
        <div [@slideInOutAnimation]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </body>
