.view {
    height: 100vh !important;
    background: linear-gradient(to right, #FC466B, #3F5EFB);
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}
